<%- include("partials/header") -%>
<div class="container-fluid blog white-section" id="blog">
  <h1> Latest Posts </h1>
  <div class="row">

    <div class="col-lg-8">

      <img src="https://miro.medium.com/max/1400/1*JRuujwcD9ndkpd_PaOTxXw.png" class="img-thumbnail feature-images" alt="...">
      <figcaption>Self-Forgiveness sets you Free <span class="spantext">by Bii Edwin</span></figcaption>
      <br>
      <p><strong>Self-Forgiveness is a step forward in your recovery from toxic, abusive or narcissistic relationship.</strong> </p>
      <blockquote><em>“Forgive yourself for not knowing what you didn't know before you learnt it.” — <b>Maya Angelou</b></em></blockquote>
      <p class="blog-paragraph">Recovery from a toxic, abusive or narcissistic relationship is not an easy feat as there are many factors at play. A relationship of that nature leaves us sad and
        depressed, feeling worthless, directionless and at times even suicidal. We
        then develop feelings of anger, resentment towards ourselves mainly because we blame ourselves ...
        <a class="btn btn-outline-primary btn-sm" href="https://biiedwin8.medium.com/self-forgiveness-is-a-step-forward-in-your-recovery-from-toxic-abusive-or-narcissistic-fffb746813fa" target="_blank" role="button"> <i class="bi bi-bezier"></i> Read
          More</a>
    </div>
    <div class="col-lg-4">
      <div class="fb-page" data-href="https://www.facebook.com/relationshiprecoveryroadmap/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
        data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/relationshiprecoveryroadmap/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/relationshiprecoveryroadmap/">Toxic Relationship Recovery Roadmap</a></blockquote>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
