<%- include("partials/header") -%>

<!-- Title -->
<div class="container-fluid homepage" id="homepage">
  <div class="header-text">
    <p> <i class="bi bi-alarm alarm-clock"></i> Time to Heal from</p>
    <p>a Toxic Relationship</p>

  </div>


  <button type="button" class="btn btn-dark btn-lg btn-outline-info showme-button"> <i class="bi bi-command"></i> Show Me How</button>
  <div class="homepage-text p-3 mb-2 bg-info bg-opacity-75">
    <p>
      <b>You're a warrior, you've been through a toxic relationship, and you're asking yourself questions like:- </b>
    </p>
    <ul>
      <p> <i class="bi bi-check2-square checksquare"></i> Where do I go from here and where do I start? </p>
      <p> <i class="bi bi-check2-square checksquare"></i> Is it possible to ever find peace and fully move on? </p>
      <p> <i class="bi bi-check2-square checksquare "></i> Why do I always find myself in situations like these? </p>
      <p> <i class="bi bi-check2-square checksquare"></i> Why do I always find myself in situations like these?</p>
      <p> <i class="bi bi-check2-square checksquare"></i> How will I ever forgive myself for staying too long? </p>
    </ul>

  </div>
</div>

</section>


<!-- Features -->

<section class="white-section" id="features">

  <div class="container-fluid">
    <h1> Let Us Help You </h1>
    <div class="row">
      <div class="feature-box col-lg-4">
        <img src="https://drive.google.com/uc?id=1zwYhZBuXeTmhPzrxz8WAYstw_lRZrrvc" class="img-thumbnail feature-images" alt="...">
        <h3 class="feature-title"> Heal The Pain</h3>
        <p>Cope and heal from trauma. <b>Reconnect with your present self. </b> Dissolve
          the barriers holding you back from living joyfully</p>
      </div>

      <div class="feature-box col-lg-4">
        <img src="https://drive.google.com/uc?id=1zHVnm_G3AQhCUmZjvT-7sqIbwqzQR7rA" class="img-thumbnail feature-images" alt="...">
        <h3 class="feature-title">Love Who You Are</h3>
        <p>Come back into <b>loving alignment with your true self</b>.
          Shed the negative ideas we have about ourselves, and
          regain self-worth. </p>
      </div>

      <div class="feature-box col-lg-4">
        <img src="https://drive.google.com/uc?id=1Karc_zlUY9l9Iqh0jbtDPvGwuVF3GITU" class="img-thumbnail feature-images" alt="...">
        <h3 class="feature-title">Move on</h3>
        <p> Develop healthy patterns which work for you, set healthy boundaries.
          <b> Readiness to attract a healthy relationship.</b>
        </p>
      </div>
    </div>
    <button type="button" class="btn btn-dark btn-lg btn-outline-info starthere-button"> <i class="bi bi-command"></i> Start Here</button>

  </div>
</section>


<!-- Testimonials -->

<section class="colored-section" id="testimonials">

  <div id="testimonial-carousel" class="carousel slide " data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <p class="testimonial-text">5 years relationship with my ex drained my personality, due to constant negative energy.
          But meeting Coach Edwin made me see the bigger picture of life and the necessity to prioritize my happiness. In less than a month, I felt the super-Dennis in me!.</p>
        <img class="testimonial-image" src="https://drive.google.com/uc?id=1p6uqC0P9o9opZpun9shtxm9et47-6tRs" alt="Dennis-profile">
        <em>Dennis</em>
      </div>
      <div class="carousel-item container-fluid">
        <p class="testimonial-text">I have always struggled with attracting narcissistic individuals. After just 4 weeks, the mindshift
          was amazing. I feel way happier, find it easy to follow through on promises I make to myself and maintain boundaries
          without feeling guilty.
        </p>
        <img class="testimonial-image" src="https://drive.google.com/uc?id=1RuBAlkdYvgJZfy2Udco9BFfIEj1Vtn9D" alt="lady-profile">
        <em>Anon</em>
      </div>
    </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</section>

<!-- About -->

<section class="white-section" id="about">
  <div class="container-fluid">
    <div class="row float-md-start">
      <p> <img src="https://drive.google.com/uc?id=1UQhExqPJJ13n9lQCfje678si_CZ6h906" class="img-thumbnail edwin-pic" alt="Edwin-Profile_Pic">
    </div>
    <div class="about-text">
      <h1> About the <b>Author </b></h1>
      <p> Specializing in helping men and women recover from toxic relationships, Edwin
        has helped countless men and women rediscover their joyful lives
        after leaving a narcissistic, abusive or a toxic relationship.</p>
      <hr>
      <p>
        As a trained <a href="https://www.mindshifting.net/info" class="link-secondary">Mindshifting</a> Coach, Bii is able to
        effectively transform a client's reality by using a set of cutting-edge Mindshifting tools which permanently dissolve problems, release trauma and transform
        limiting beliefs
        in just a few minutes.
      </p>
    </div>

  </div>


</section>

<!-- Work with Me -->
<section class="colored-section" id="workwithme">

  <div class="container-fluid">
    <h1> Get in Touch </h1>
    <hr class="hr-workwithme">
    <div class="row">
      <div class="col-lg-4">
        <i class="bi bi-archive workwithme-icon"></i>
        <h3 class="feature-title"> Fully Confidential</h3>
        <p>Share you story knowing that your <b>privacy</b> is importantand you are in a <b>safe space</b>.</p>
      </div>

      <div class="col-lg-4">
        <i class="bi bi-cloud-sun workwithme-icon"></i>
        <h3 class="feature-title">Relationship Recovery Roadmap</h3>
        <p>This is the programme that we will use to guide you in your healing journey and <b>reclaim the life </b>
          you deserve to live.</p>
      </div>

      <div class="col-lg-4">
        <i class="bi bi-calendar-event workwithme-icon"></i>
        <h3 class="feature-title">Book Appointment</h3>
        <p> All sessions are virtual/online meaning you can schedule any time that suits you or from anywhere around the globe.
        </p>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
